@page "/auth/choose-account"
@layout AuthLayout

@inject IGlobalService GlobalService


<style>

    * {
        font-size: 1.2rem;
    }

    form {
        width: 100%;
    }

        form .form-group {
            width: 100%;
        }

        form .form-control {
            box-sizing: border-box;
            padding: 10px;
            outline: none !important;
            box-shadow: none !important;
            background-color: @ColorThemeEnum.GreyTertiary !important;
        }

            form .form-control:focus {
                border-color: @ColorThemeEnum.RedPrimary !important;
            }

        form .signin {
            width: 100%;
            background-color: @ColorThemeEnum.RedPrimary !important;
            border-color: @ColorThemeEnum.RedPrimary !important;
            outline: none !important;
            box-shadow: none !important;
            transition: all 0.3s ease;
        }

            form .signin:hover {
                transform: scale(1.05);
            }

            form .signin:active {
                outline: none !important;
                box-shadow: none !important;
            }

    .line {
        background-color: @ColorThemeEnum.GreyTertiary !important;
        width: 5rem !important;
        height: 1px !important;
    }
</style>

<form class="d-flex flex-column align-items-center gap-4 gap-lg-3 p-3 px-3 px-lg-5 pb-0">
    <span class="h5 mb-3 fw-bold text-center w-75">Login to your account</span>
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="email@exemplo.com" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="************" />
    </div>
    <button type="submit" class="btn btn-primary signin">Login</button>

    <div class=" d-flex justify-content-between align-items-center gap-4">
        <div class="line"></div>
        <span style="font-size:.8rem !important">Or</span>
        <div class="line"></div>
    </div>


    <button style="font-size:.8rem !important" class="btn d-flex align-items-center justify-content-center w-100 gap-5 border rounded rounded-fill  fw-bold">
        <img src="../assets/img/google.png" style="aspect-ratio:1/1; width:8%;" />
        Sign in with Google
    </button>

    <p style="font-size:.8rem !important" class="text-decoration-none">
        Don't have an account?
        <NavLink href="/auth/register" class="text-decoration-none text-dark fw-bold" style="font-size:.8rem !important">Register</NavLink>
    </p>

</form>

@code {

    protected override void OnInitialized()
    {
        GlobalService.SetAuthLayout("Explore Unlimited Opportunities", "Discover a wide range of business opportunities all in one place. Connect with qualified buyers, investors, sellers, and consultants to achieve your business goals.");
    }

}
