@page "/business/auth/account-email-verify"
@layout AuthLayout
@inject IGlobalService GlobalService

<PageTitle>DealBusinessHub - Verify your account</PageTitle>

<style>

    * {
        font-size: 1.2rem;
    }

    form {
        width: 100%;
    }

        form .form-group {
            width: 100%;
        }

        form .form-control {
            box-sizing: border-box;
            padding: 10px;
            outline: none !important;
            box-shadow: none !important;
            background-color: @ColorThemeEnum.GreyTertiary !important;
        }

            form .form-control:focus {
                border-color: @ColorThemeEnum.RedPrimary !important;
            }

        form .signin {
            width: 100%;
            background-color: @ColorThemeEnum.RedPrimary !important;
            border-color: @ColorThemeEnum.RedPrimary !important;
            outline: none !important;
            box-shadow: none !important;
            transition: all 0.3s ease;
        }

            form .signin:hover {
                transform: scale(1.05);
            }

            form .signin:active {
                outline: none !important;
                box-shadow: none !important;
            }

    .line {
        background-color: @ColorThemeEnum.GreyTertiary !important;
        width: 5rem !important;
        height: 1px !important;
    }
</style>

<aside class="col-4 p-4 d-none d-lg-flex flex-column justify-content-center" style="background-image: url('../assets/img/AuthBackImage.png');">

    <div style="color:@ColorThemeEnum.WhitePrimary;" class="d-flex flex-column gap-4">
        <AuthPageTitle Title="@GlobalService.AuthPageTitle" />
        <AuthPageDescription Description="@GlobalService.AuthPageDescription" />

        <img src="../assets/img/paginationlogo.png" class="w-25" />
    </div>

</aside>
<aside class="col d-grid gap-3 p-2 px-3 px-lg-0" style="background-color:@ColorThemeEnum.WhiteSecondary; align-content:center; place-items:center">
    <header>
        <img src="../assets/img/dealbusinesshublogo.png" />
    </header>
    <section class="rounded rounded-5 col-12 col-md-7 shadow shadow-sm content-page" style="background-color:@ColorThemeEnum.WhitePrimary;">
        <form class="d-flex flex-column align-items-center gap-4 gap-lg-3 p-3 px-3 px-lg-5 ">
            <span class="h4 fw-bold text-center w-75">Put the code bellow</span>
            <p class="text-center" style="font-size:0.7rem; color:@ColorThemeEnum.GreySecondary">
                We sent a code on your email address: aldaiirmoraiss@gmail.com
            </p>

            <div class="form-group">
                <input type="text" class="form-control text-center" id="code" placeholder="000000" maxlength="6"/>
            </div>
            <NavLink href="/business/auth/account-status-verify" class="btn btn-primary signin">Verify</NavLink>

        </form>
    </section>
</aside>



@code {
    protected override void OnInitialized()
    {
        GlobalService.AuthPageTitle = "Sell Your Business with Ease";
        GlobalService.AuthPageDescription = "Detailed listings and expert support are at your fingertips. Sell your business quickly and securely, reaching a global audience of interested buyers and investors.";
    }

    
}
